@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*NAVBAR*/
.navbar-container {
  width: 100vw;
  color: #f0ebe3;
  background-color: #2d2d30;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar-logo {
  font-family: Arapey;
  font-size: 24px;
  font-weight: 700;
  padding-left: 50px;
}

.navbar-menu ul {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-menu button {
  background-color: #2d2d30;
  color: #f0ebe3;
  outline: none;
  padding: 8px 12px;
  border: 1px solid #f0ebe3;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*NAMEBAR*/
.namebar-container {
  color: #f0ebe3;
  width: 100vw;
  background-color: rebeccapurple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.namebar-name {
  font-family: Montserrat;
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: 500;
}

.namebar-stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 24px;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.taskitem-container {
  border: 1px solid #f0ebe3;
  border-radius: 10px;
  margin: 10px;
}

.taskitem-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 20px;
  font-family: Montserrat;
  letter-spacing: 1px;
  font-size: 18px;
}

.taskitem-symbols {
  display: flex;
  align-items: center;
  gap: 10px;
}
