@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px; /* Set the width of the scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: #fff; /* Set the color of the scrollbar thumb */
  border-radius: 3px; /* Set the border-radius of the scrollbar thumb */
}
::placeholder {
  color: gray;
  font-size: 12px;
}
.reg-container {
  width: 100vw;
  height: 100vh;
  background-color: #2d2d30;
  color: #f0ebe3;
}

.reg-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

.reg-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 50px;
}

.main-title {
  font-family: Arapey;
  font-size: 56px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 500px;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form input {
  padding: 5px;
  outline: none;
  border: none;
  color: #f0ebe3;
  font-size: 18px;
  border-bottom: 1px solid gray;
  background-color: #2d2d30;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.form button {
  cursor: pointer;
  padding: 10px;
  color: #f0ebe3;
  background-color: #2d2d30;
  border: 1px solid #f0ebe3;
  border-radius: 10px;
}

.form-bottom {
  display: flex;
  justify-content: center;
  gap: 2px;
  color: #f0ebe3;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
}

.form-bottom span p {
  color: #f0ebe3;
  text-decoration: underline #f0ebe3;
}

input::placeholder {
  color: gray;
  font-size: 18px;
}

.content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.content h3 {
  display: flex;
  padding: 20px 50px;
  font-weight: 500;
  color: #f0ebe3;
  font-family: Montserrat;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.small {
  font-size: 24px;
  font-weight: 200;
  text-transform: capitalize;
  text-align: center;
}

.context-title {
  padding: 20px 70px;
  font-weight: 500;
  color: #f0ebe3;
  font-family: Montserrat;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section-tiles {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tasks {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
  height: 45vh;
}
